body {
	font-family: Helvetica;
	color: #333;
	margin: 0;
	padding: 0;
	background-color: white;
}

#header {
	background-color: #002C4F;
	position: relative;
	clear:both;
}

#header img {
	margin: 5px 20px 5px;
	float: left;
}

a {
	text-decoration: none;
	color: #BBB;
}

#search {
	color: white;
	margin: 0px 20px;
	padding: 15px 0px 15px;
	font-weight: bold;
	text-align: left;
	display: flex;
	min-width: 180px;
	position: relative;
}

#search ul {
	position: absolute;
	padding: 2px;
	top: 35px;
	left: 5px;
	background-color: white;
	border: 1px solid #CCC;
}

#search li {
	list-style-type: none;
	padding: 2px;
	color: black;
	font-size: 1.5em;
	font-weight: normal;
}

#search li:hover {
	background-color: #AAA;
}

#searchbox {
	width: 100%;
	min-width: 100px;
	text-indent: 5px;
	font-size: 1.5em;
	margin: 0px;
	padding: 5px;
	border: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#submit{
	font-weight: bold;
	color: white;
	background-color: orange;
	border: 1px solid orange;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
	padding: 10px;
}

#submit:hover {
	color: orange;
	background-color: white;
}

#signin {
	color: white;
	text-align: left;
	margin: 25px 10px 15px 40px;
	float: right;
}

#navbar {
	min-width: 250px;
	background-color: #103C5F;
	margin: 0px auto;
	box-shadow: 4px 4px 4px #AAA;
	padding: 0px;
}

#navbar a {
	font-weight: bold;
	padding: 8px 4px;
	margin: 0px;
	display: inline-block;
}

#navbar a:hover {
	color: white;
	background-color: #224E6F;
}

#tabs {
	max-width: 1210px;
	margin: 0px auto;
}

.active a{
	color: white;
	border-bottom: 3px solid white;
}

#role {
	position: absolute;
	top: 8px;
	left: 0px;
	padding: 0px;
	background-color: white;
	border: 1px solid #CCC;
	box-shadow: 4px 4px 4px #CCC;	
}

#role li {
	list-style-type: none;
	border-bottom: 1px solid #CCC;
	padding: 2px;
}

#role li:hover {
	background-color: #CCC;
}

#category {
	max-width: 850px;
	min-width: 260px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#category p {
	font-size: .7em;
	font-weight: bold;
	color: #EEE;
	text-align: center;
	margin: 0;
}

#category span:hover {
	box-shadow: 4px 4px 4px #AAA;
	padding: 9px 4px;
	border: 1px solid white;
}

#category span {
	display: inline-block;
	width: 110px;
	background-color: #F22;
	margin: 4px 4px;
	padding: 10px 5px;
}

#category span:nth-of-type(4n) {
	background-color: #390;
}

#category span:nth-of-type(4n - 1) {
	background-color: #F90;
}

#category span:nth-of-type(4n - 2) {
	background-color: #66F;
}

#roleTitle {
	padding: 5px;
	float: right;
	position: relative;
}

#roleTitle a {
	color: #333;
}